{
    "openapi": "3.0.0",
    "info": {
        "title": "Yes We Hack",
        "description": "Yes We Hack API documentation\n\nYou can access the YesWeHack api using a Personal Access Token.\n\nTo create a Personal Access Token, go to ***My YesWeHack*** menu under the tab ***Personal Access Token***.\n\nMore information on [YesWeHack helpcenter](https:\/\/helpcenter.yeswehack.io\/personal-access-tokens \"Personal Access Token helpcenter article\").\n\n# Authentication\n\n<SecurityDefinitions \/>\n",
        "contact": {
            "name": "API Support",
            "url": "https:\/\/api.yeswehack.com",
            "email": "support@yeswehack.com"
        },
        "version": "17.2.0",
        "x-logo": {
            "url": "https:\/\/api.yeswehack.com\/build\/images\/logo-ywh-primary.svg",
            "backgroundColor": "#FFFFFF",
            "altText": "Yes We Hack"
        }
    },
    "servers": [
        {
            "url": "https:\/\/api.yeswehack.com"
        }
    ],
    "paths": {
        "\/asm\/assets\/{assetId}\/asset-values": {
            "put": {
                "tags": [
                    "Attack Surface"
                ],
                "summary": "Update an asset value",
                "description": "Update an asset value",
                "operationId": "put_api_asm_assets_update_asset_value",
                "parameters": [
                    {
                        "name": "assetId",
                        "in": "path",
                        "description": "Id of asset",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/AssetValueType"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Asset value updated"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/400-ValidationFailed"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/asm\/assets\/{assetId}\/{action}": {
            "put": {
                "tags": [
                    "Attack Surface"
                ],
                "summary": "Update tag asset",
                "description": "Update tag asset",
                "operationId": "put_api_asm_assets_tag",
                "parameters": [
                    {
                        "name": "assetId",
                        "in": "path",
                        "description": "Id of asset",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "pattern": "\\d+"
                        }
                    },
                    {
                        "name": "action",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "tag|untag",
                            "enum": [
                                "tag",
                                "untag"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/AssetTagType"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Asset tagged\/untagged"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/asm\/assets\/asset-values": {
            "put": {
                "tags": [
                    "Attack Surface"
                ],
                "summary": "Update a list of asset value",
                "description": "Update a list of asset value",
                "operationId": "put_api_asm_assets_bulk_update_asset_value",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/AssetValueType"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Assets values updated",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "properties": {
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/AttackSurfaceAssetResponseDto"
                                            }
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/AttackSurfaceAssetResponseDto"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/400-ValidationFailed"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/asm\/domains": {
            "post": {
                "tags": [
                    "Attack Surface"
                ],
                "summary": "Get Domains list",
                "description": "Retrieve the list of domain assets",
                "operationId": "post_api_asm_domains_list",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page to show.",
                        "required": false,
                        "allowEmptyValue": false,
                        "schema": {
                            "type": "string",
                            "default": 1,
                            "pattern": "^([1-9][0-9]{0,3}|10000)$"
                        }
                    },
                    {
                        "name": "resultsPerPage",
                        "in": "query",
                        "description": "Number of results per page to show.",
                        "required": false,
                        "allowEmptyValue": false,
                        "schema": {
                            "type": "string",
                            "default": 100,
                            "pattern": "^[1-9][0-9]?$|^100$"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/AttackSurfaceDomainFilterType"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "List of the domain",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#\/components\/schemas\/AttackSurfaceDomain"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/pagination"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/400-ValidationFailed"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/asm\/domains\/count": {
            "get": {
                "tags": [
                    "Attack Surface"
                ],
                "summary": "Counter domain",
                "description": "Count total of domain",
                "operationId": "get_api_asm_domains_count",
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "<sub>Example:<\/sub> `?filter[businessUnitSlugs][]=my-business-unit-slug&filter[businessUnitSlugs][]=my-second-business-unit-slug`",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "properties": {
                                "businessUnitSlugs": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            },
                            "type": "object",
                            "format": "AsmFilter",
                            "default": []
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Count total of domain",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/AttackSurfaceDomainCounter"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/asm\/domains\/{assetId}": {
            "get": {
                "tags": [
                    "Attack Surface"
                ],
                "summary": "Get an asset domain",
                "description": "Get an asset domain",
                "operationId": "get_api_asm_domains_detail",
                "parameters": [
                    {
                        "name": "assetId",
                        "in": "path",
                        "description": "Id of asset",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get an asset domain",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/AttackSurfaceDomain"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/asm\/domains\/findings\/count": {
            "get": {
                "tags": [
                    "Attack Surface"
                ],
                "summary": "Count findings",
                "description": "Count findings by status for asset domain",
                "operationId": "get_api_asm_domains_findings_count",
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "<sub>Example:<\/sub> `?filter[businessUnitSlugs][]=my-business-unit-slug&filter[businessUnitSlugs][]=my-second-business-unit-slug`",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "properties": {
                                "businessUnitSlugs": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            },
                            "type": "object",
                            "format": "AsmFilter",
                            "default": []
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Count findings by status for asset domain",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/FindingCountersResponseDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/asm\/domains\/{slug}\/exports\/{format}": {
            "post": {
                "tags": [
                    "Attack Surface"
                ],
                "summary": "Export businessUnit domains",
                "description": "Export domains list of the businessUnit to the specified format.",
                "operationId": "post_api_asm_domains_export",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug of the businessUnit",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "csv|json|xls",
                            "enum": [
                                "csv",
                                "json",
                                "xls"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/AttackSurfaceDomainFilterType"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "text\/csv": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application\/vnd.ms-excel": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application\/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/400-BadRequest"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/403-AccessDenied"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/asm\/domains\/{slug}\/exports": {
            "get": {
                "tags": [
                    "Attack Surface"
                ],
                "summary": "Get businessUnit domain exports.",
                "description": "Get exports domain from the businessUnit.",
                "operationId": "get_api_asm_domains_export_list",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug of the businessUnit",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "properties": {
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/Export"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/403-AccessDenied"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    }
                }
            }
        },
        "\/asm\/filters\/technologies\/{type}": {
            "get": {
                "tags": [
                    "Attack Surface Filter"
                ],
                "summary": "Technologies filter",
                "description": "Filter for technologies",
                "operationId": "get_api_asm_filters_components",
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "<sub>Example:<\/sub> `?filter[businessUnitSlugs][]=my-business-unit-slug&filter[businessUnitSlugs][]=my-second-business-unit-slug`",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "properties": {
                                "businessUnitSlugs": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            },
                            "type": "object",
                            "format": "AsmFilter",
                            "default": []
                        }
                    },
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "vendors|products|names",
                            "enum": [
                                "vendors",
                                "products",
                                "names"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Technologies",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ItemsString"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/403-AccessDenied"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/asm\/filters\/assets\/{type}": {
            "get": {
                "tags": [
                    "Attack Surface Filter"
                ],
                "summary": "Assets filter",
                "description": "Filter for assets",
                "operationId": "get_api_asm_filters_assets",
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "<sub>Example:<\/sub> `?filter[businessUnitSlugs][]=my-business-unit-slug&filter[businessUnitSlugs][]=my-second-business-unit-slug`",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "properties": {
                                "businessUnitSlugs": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            },
                            "type": "object",
                            "format": "AsmFilter",
                            "default": []
                        }
                    },
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "domains|services|ports|protocol-name",
                            "enum": [
                                "domains",
                                "services",
                                "ports",
                                "protocol-name"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Different assets",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ItemsString"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/403-AccessDenied"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/asm\/filters\/findings": {
            "get": {
                "tags": [
                    "Attack Surface Filter"
                ],
                "summary": "Finding filter",
                "description": "Filter for findings \/ CVE",
                "operationId": "get_api_asm_filters_finding",
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "<sub>Example:<\/sub> `?filter[businessUnitSlugs][]=my-business-unit-slug&filter[businessUnitSlugs][]=my-second-business-unit-slug`",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "properties": {
                                "businessUnitSlugs": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            },
                            "type": "object",
                            "format": "AsmFilter",
                            "default": []
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Findings",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ItemsString"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/403-AccessDenied"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                },
                "deprecated": true
            }
        },
        "\/asm\/filters\/assets\/tags": {
            "get": {
                "tags": [
                    "Attack Surface Filter"
                ],
                "summary": "Assets tags filter",
                "description": "Filter tags for assets",
                "operationId": "get_api_asm_filters_tags",
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "<sub>Example:<\/sub> `?filter[businessUnitSlugs][]=my-business-unit-slug&filter[businessUnitSlugs][]=my-second-business-unit-slug&filter[assetTypes][]=DOMAIN`",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "properties": {
                                "businessUnitSlugs": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "assetTypes": {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "enum": [
                                            "DOMAIN",
                                            "CIDR"
                                        ]
                                    }
                                }
                            },
                            "type": "object",
                            "format": "AsmFilter",
                            "default": []
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of tags",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ItemsString"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/403-AccessDenied"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/asm\/findings": {
            "put": {
                "tags": [
                    "Attack Surface"
                ],
                "summary": "Bulk update ASM finding",
                "description": "Bulk update ASM findings",
                "operationId": "put_api_asm_findings_bulk_update",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/FindingBulkUpdateType"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Assets values updated",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "properties": {
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/AttackSurfaceFinding"
                                            }
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/AttackSurfaceFinding"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/400-ValidationFailed"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            },
            "post": {
                "tags": [
                    "Attack Surface"
                ],
                "summary": "Get ASM findings list",
                "description": "Get the list of ASM findings",
                "operationId": "post_api_asm_findings_list",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page to show.",
                        "required": false,
                        "allowEmptyValue": false,
                        "schema": {
                            "type": "string",
                            "default": 1,
                            "pattern": "^([1-9][0-9]{0,3}|10000)$"
                        }
                    },
                    {
                        "name": "resultsPerPage",
                        "in": "query",
                        "description": "Number of results per page to show.",
                        "required": false,
                        "allowEmptyValue": false,
                        "schema": {
                            "type": "string",
                            "default": 50,
                            "pattern": "^[1-9][0-9]?$|^100$"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/AttackSurfaceFindingFilterType"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Retrieve Attack Surface findings list",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#\/components\/schemas\/AttackSurfaceFinding"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/pagination"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/400-BadRequest"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/403-AccessDenied"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/asm\/findings\/{findingId}": {
            "get": {
                "tags": [
                    "Attack Surface"
                ],
                "summary": "Get ASM finding",
                "description": "Get a ASM finding",
                "operationId": "get_api_asm_findings_get_details",
                "parameters": [
                    {
                        "name": "findingId",
                        "in": "path",
                        "description": "id of the finding",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve Attack Surface finding details",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/AttackSurfaceFinding"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/403-AccessDenied"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            },
            "put": {
                "tags": [
                    "Attack Surface"
                ],
                "summary": "Update ASM finding",
                "description": "Update a ASM findings",
                "operationId": "put_api_asm_findings_update",
                "parameters": [
                    {
                        "name": "findingId",
                        "in": "path",
                        "description": "id of the finding",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/FindingUpdateType"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Retrieve Attack Surface finding status and create report on confirmation",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/AttackSurfaceFinding"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Form validation error or Bad request",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#\/components\/schemas\/validation-failed"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/bad-request"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/403-AccessDenied"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/asm\/findings\/count": {
            "get": {
                "tags": [
                    "Attack Surface"
                ],
                "summary": "Get ASM findings count",
                "description": "Get the counters of ASM findings",
                "operationId": "get_api_asm_findings_count",
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "<sub>Example:<\/sub> `?filter[businessUnitSlugs][]=my-business-unit-slug&filter[businessUnitSlugs][]=my-second-business-unit-slug`",
                        "required": true,
                        "allowEmptyValue": false,
                        "schema": {
                            "properties": {
                                "businessUnitSlugs": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            },
                            "type": "object",
                            "format": "AsmFilter",
                            "default": []
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve ASM findings counters",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/FindingCountersResponseDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/403-AccessDenied"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/asm\/findings\/count\/status": {
            "post": {
                "tags": [
                    "Attack Surface"
                ],
                "summary": "Get ASM findings count by status",
                "description": "Get the status counters of ASM findings",
                "operationId": "post_api_asm_findings_count_status",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/AttackSurfaceFindingFilterType"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Retrieve ASM findings counters by status",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/AttackSurfaceFindingStatusCounterResponseDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/403-AccessDenied"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/asm\/findings\/{slug}\/exports\/{format}": {
            "post": {
                "tags": [
                    "Attack Surface"
                ],
                "summary": "Export businessUnit findings",
                "description": "Export findings list of the businessUnit to the specified format.",
                "operationId": "post_api_asm_findings_export",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug of the businessUnit",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "csv|json|xls",
                            "enum": [
                                "csv",
                                "json",
                                "xls"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/AttackSurfaceFindingFilterType"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "text\/csv": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application\/vnd.ms-excel": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application\/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/400-BadRequest"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/403-AccessDenied"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/asm\/services": {
            "post": {
                "tags": [
                    "Attack Surface"
                ],
                "summary": "Get ASM services list",
                "description": "Get the list of ASM services",
                "operationId": "post_api_asm_services_list",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page to show.",
                        "required": false,
                        "allowEmptyValue": false,
                        "schema": {
                            "type": "string",
                            "default": 1,
                            "pattern": "^([1-9][0-9]{0,3}|10000)$"
                        }
                    },
                    {
                        "name": "resultsPerPage",
                        "in": "query",
                        "description": "Number of results per page to show.",
                        "required": false,
                        "allowEmptyValue": false,
                        "schema": {
                            "type": "string",
                            "default": 100,
                            "pattern": "^[1-9][0-9]?$|^100$"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/AttackSurfaceServiceFilterType"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Retrieve Attack Surface services list",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#\/components\/schemas\/AttackSurfaceService"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/pagination"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/403-AccessDenied"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/asm\/services\/{serviceId}": {
            "get": {
                "tags": [
                    "Attack Surface"
                ],
                "summary": "Get Attack Surface service detail",
                "description": "Get the detail of a Attack Surface service",
                "operationId": "get_api_asm_services_details",
                "parameters": [
                    {
                        "name": "serviceId",
                        "in": "path",
                        "description": "Id of service",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attack Surface service details",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/AttackSurfaceService"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/403-AccessDenied"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/asm\/services\/counters": {
            "get": {
                "tags": [
                    "Attack Surface"
                ],
                "summary": "Get Attack Surface services counters",
                "description": "Get the counters of Attack Surface services",
                "operationId": "get_api_asm_services_counters",
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "<sub>Example:<\/sub> `?filter[businessUnitSlugs][]=my-business-unit-slug&filter[businessUnitSlugs][]=my-second-business-unit-slug`",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "properties": {
                                "businessUnitSlugs": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            },
                            "type": "object",
                            "format": "AsmFilter",
                            "default": []
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve Attack Surface services counters",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/AttackSurfaceServiceCounters"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/403-AccessDenied"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/asm\/services\/findings\/count": {
            "get": {
                "tags": [
                    "Attack Surface"
                ],
                "summary": "Count findings",
                "description": "Count findings by status for asset service",
                "operationId": "get_api_asm_services_findings_count",
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "<sub>Example:<\/sub> `?filter[businessUnitSlugs][]=my-business-unit-slug&filter[businessUnitSlugs][]=my-second-business-unit-slug`",
                        "required": true,
                        "allowEmptyValue": false,
                        "schema": {
                            "properties": {
                                "businessUnitSlugs": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            },
                            "type": "object",
                            "format": "AsmFilter",
                            "default": []
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Count findings by status for asset service",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/FindingCountersResponseDto"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/400-BadRequest"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/403-AccessDenied"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/asm\/services\/{slug}\/exports\/{format}": {
            "post": {
                "tags": [
                    "Attack Surface"
                ],
                "summary": "Export businessUnit services",
                "description": "Export services list of the businessUnit to the specified format.",
                "operationId": "post_api_asm_services_export",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug of the businessUnit",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "csv|json|xls",
                            "enum": [
                                "csv",
                                "json",
                                "xls"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/AttackSurfaceServiceFilterType"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "text\/csv": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application\/vnd.ms-excel": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application\/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/400-BadRequest"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/403-AccessDenied"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/asm\/services\/{slug}\/exports": {
            "get": {
                "tags": [
                    "Attack Surface"
                ],
                "summary": "Get businessUnit service exports.",
                "description": "Get exports service from the businessUnit.",
                "operationId": "get_api_asm_services_export_list",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug of the businessUnit",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "properties": {
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/Export"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/403-AccessDenied"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    }
                }
            }
        },
        "\/asm\/technologies": {
            "post": {
                "tags": [
                    "Attack Surface"
                ],
                "summary": "Get technologies list",
                "description": "Display the list of technologies who are detected in the business units with product asm",
                "operationId": "post_api_asm_technologies_list",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page to show.",
                        "required": false,
                        "allowEmptyValue": false,
                        "schema": {
                            "type": "string",
                            "default": 1,
                            "pattern": "^([1-9][0-9]{0,3}|10000)$"
                        }
                    },
                    {
                        "name": "resultsPerPage",
                        "in": "query",
                        "description": "Number of results per page to show.",
                        "required": false,
                        "allowEmptyValue": false,
                        "schema": {
                            "type": "string",
                            "default": 100,
                            "pattern": "^[1-9][0-9]?$|^100$"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/AttackSurfaceTechnologyFilterType"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "List of the technologies",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#\/components\/schemas\/AttackSurfaceTechnology"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/pagination"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/400-ValidationFailed"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/403-AccessDenied"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/asm\/technologies\/{technologyId}": {
            "get": {
                "tags": [
                    "Attack Surface"
                ],
                "summary": "Get technology detail",
                "description": "Get the detail of a ASM service",
                "operationId": "get_api_asm_technologies_details",
                "parameters": [
                    {
                        "name": "technologyId",
                        "in": "path",
                        "description": "id of the technology",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Technology details",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/AttackSurfaceTechnology"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/403-AccessDenied"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/asm\/technologies\/count": {
            "get": {
                "tags": [
                    "Attack Surface"
                ],
                "summary": "Get count technology",
                "description": "Get the count by name of technology",
                "operationId": "get_api_asm_technologies_counter",
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "<sub>Example:<\/sub> `?filter[businessUnitSlugs][]=my-business-unit-slug&filter[businessUnitSlugs][]=my-second-business-unit-slug`",
                        "required": false,
                        "allowEmptyValue": true,
                        "schema": {
                            "properties": {
                                "businessUnitSlugs": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            },
                            "type": "object",
                            "format": "AsmFilter",
                            "default": []
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Counter technology",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/AttackSurfaceTechnologyCounter"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/403-AccessDenied"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/asm\/technologies\/{slug}\/exports\/{format}": {
            "post": {
                "tags": [
                    "Attack Surface"
                ],
                "summary": "Export businessUnit technologies",
                "description": "Export technologies list of the businessUnit to the specified format.",
                "operationId": "post_api_asm_technologies_export",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug of the businessUnit",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "csv|json|xls",
                            "enum": [
                                "csv",
                                "json",
                                "xls"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/AttackSurfaceTechnologyFilterType"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "text\/csv": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application\/vnd.ms-excel": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application\/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/400-BadRequest"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/403-AccessDenied"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/asm\/technologies\/{slug}\/exports": {
            "get": {
                "tags": [
                    "Attack Surface"
                ],
                "summary": "Get businessUnit technologies exports.",
                "description": "Get exports technologies from the businessUnit.",
                "operationId": "get_api_asm_technologies_export_list",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug of the businessUnit",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "properties": {
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/Export"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/403-AccessDenied"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    }
                }
            }
        },
        "\/asm\/vulnpedia": {
            "post": {
                "tags": [
                    "Attack Surface Vulnpedia"
                ],
                "summary": "Vulnerability list",
                "description": "List of vulnerabilities",
                "operationId": "post_api_asm_vulnpedia_lists",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page to show.",
                        "required": false,
                        "allowEmptyValue": false,
                        "schema": {
                            "type": "string",
                            "default": 1,
                            "pattern": "^([1-9][0-9]{0,3}|10000)$"
                        }
                    },
                    {
                        "name": "resultsPerPage",
                        "in": "query",
                        "description": "Number of results per page to show.",
                        "required": false,
                        "allowEmptyValue": false,
                        "schema": {
                            "type": "string",
                            "default": 100,
                            "pattern": "^[1-9][0-9]?$|^100$"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of the vulnerabilities",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#\/components\/schemas\/AttackSurfaceVulnerability"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/pagination"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/400-ValidationFailed"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/403-AccessDenied"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/asm\/vulnpedia\/{id}": {
            "get": {
                "tags": [
                    "Attack Surface Vulnpedia"
                ],
                "summary": "Get vulnerability detail",
                "description": "Get the detail of a ASM service",
                "operationId": "get_api_asm_vulnpedia_details",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id of the vulnerability",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "pattern": "CVE-\\d{4}-\\d{4,7}"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Vulnerability details",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/AttackSurfaceVulnerabilityDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/403-AccessDenied"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/asm\/vulnpedia\/statistics": {
            "get": {
                "tags": [
                    "Attack Surface Vulnpedia"
                ],
                "summary": "Get statistics",
                "description": "Get statistics",
                "operationId": "get_api_asm_vulnpedia_statistics",
                "responses": {
                    "200": {
                        "description": "Vulnpedia statistics",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/AttackSurfaceVulnerability"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/400-ValidationFailed"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/403-AccessDenied"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/business-units\/{slug}\/asm\/assets": {
            "get": {
                "tags": [
                    "Attack Surface Business Unit Asset"
                ],
                "summary": "Get assets list",
                "description": "Get the list of assets",
                "operationId": "get_api_business_unit_asm_asset_list",
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "<sub>Example:<\/sub> `?filter[search]=value&filter[assetTypes][]=DOMAIN&filter[assetValues][]=VERY_LOW&filter[assetValues][]=LOW&filter[sortBy]=date&filter[order]=DESC`",
                        "required": true,
                        "allowEmptyValue": false,
                        "schema": {
                            "properties": {
                                "search": {
                                    "type": "string"
                                },
                                "assetTypes": {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "enum": [
                                            "DOMAIN",
                                            "CIDR"
                                        ]
                                    }
                                },
                                "assetValues": {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "enum": [
                                            "VERY_LOW",
                                            "LOW",
                                            "MEDIUM",
                                            "HIGH",
                                            "CRITICAL"
                                        ]
                                    }
                                },
                                "order": {
                                    "type": "string",
                                    "enum": [
                                        "DESC",
                                        "ASC"
                                    ]
                                },
                                "sortBy": {
                                    "type": "string",
                                    "enum": [
                                        "date",
                                        "title",
                                        "types",
                                        "assetValue"
                                    ]
                                }
                            },
                            "type": "object",
                            "format": "AsmFilter",
                            "default": {
                                "sortBy": "date",
                                "order": "DESC"
                            }
                        }
                    },
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "slug of the business unit",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page to show.",
                        "required": false,
                        "allowEmptyValue": false,
                        "schema": {
                            "type": "string",
                            "default": 1,
                            "pattern": "^([1-9][0-9]{0,3}|10000)$"
                        }
                    },
                    {
                        "name": "resultsPerPage",
                        "in": "query",
                        "description": "Number of results per page to show.",
                        "required": false,
                        "allowEmptyValue": false,
                        "schema": {
                            "type": "string",
                            "default": 50,
                            "pattern": "^[1-9][0-9]?$|^100$"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve assets list",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#\/components\/schemas\/AttackSurfaceAssetEmbed"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/Pagination"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/400-ValidationFailed"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/403-AccessDenied"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            },
            "post": {
                "tags": [
                    "Attack Surface Business Unit Asset"
                ],
                "summary": "Create Assets",
                "description": "Create new assets",
                "operationId": "post_api_business_unit_asm_asset_create_bulk",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "slug of the business unit",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/AssetsCreateType"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "$ref": "#\/components\/responses\/204-NoContent"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/400-ValidationFailed"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/403-AccessDenied"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/business-units\/{slug}\/asm\/assets\/import\/validation": {
            "post": {
                "tags": [
                    "Attack Surface Business Unit Asset"
                ],
                "summary": "Validation Import Assets",
                "description": "Validate before importing a list of assets",
                "operationId": "post_api_business_unit_asm_asset_import_validation",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "slug of the business unit",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/AssetsImportType"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success message",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/400-ValidationFailed"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/401-UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/403-AccessDenied"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/404-NotFound"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/503-ServiceUnavailable"
                    }
                }
            }
        },
        "\/business-units\/{slug}\/asm\/assets\/import": {
            "post": {
                "tags": [
                    "Attack Surface Business Unit Asset"
                ],
                "summary": "Import Assets",
                "description": "Import a list of assets",
                "operationId": "post_api_business_unit_asm_asset_import",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "slug of the business unit",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/AssetsImportType"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success message",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/400-ValidationFailed"
                    },
[...]
